.home {
  padding-top: 16px;
  height: calc(100vh - 50px - 16px);

  outline: 1px solid tomato;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  color: azure;
  font-size: 36px;
}

.thumb {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.thumb img {
  width: 100%;
  height: auto;
}
